* {
    padding: 0;
    border: 0;
    margin: 0;

}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: #FFCC00;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Nunito';
    scroll-behavior: smooth;
    /* overflow-x: hidden; */

}

/* body {
    cursor: none;
}

.rounded {
    width: 30px;
    height: 30px;
    border: 2px solid #b31c1c;
    border-radius: 50%;
}

.pointed {
    width: 7px;
    height: 7px;
    background-color: rgb(12, 197, 9);
    border-radius: 50%;
} */

button {
    background: unset;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    letter-spacing: 0.01em;
}


/* nunito-regular - latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/nunito-v25-latin_cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-600 - latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('../fonts/nunito-v25-latin_cyrillic-600.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin_cyrillic-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-700 - latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('../fonts/nunito-v25-latin_cyrillic-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-800 - latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local(''),
        url('../fonts/nunito-v25-latin_cyrillic-800.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/nunito-v25-latin_cyrillic-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*------------------- ui kit--------------------*/
/*----------root----------*/
:root {
    --color-primary: #377DFF;
    --color-yellow: #FFCC00;
    --color-black: #1D1D1D;
    --color-body: #464646;
    --box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
    --box-shadow-hover: 0px 4px 8px #ffcc00;
}

/*---fonts-------*/

h1 {
    font-size: 64px;
    line-height: 136%;
}


h2 {
    font-size: 55px;
    line-height: 136.4%;
}


h3 {
    font-size: 24px;
    line-height: 1;
}

.h4,
h4 {
    font-size: 22px;
    line-height: 127%;
}

.p {
    font-size: 20px;
    line-height: 160%;
}

.p2 {
    font-size: 18px;
    line-height: 130%;
}

.p3 {
    font-size: 16px;
    line-height: 150%;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

@media screen and (max-width:1024px) {


    h1 {
        font-size: calc(28px + (64 - 28) * ((100vw - 320px) / (1440 - 320)));
    }


    h2 {
        font-size: calc(24px + (55 - 24) * ((100vw - 320px) / (1440 - 320)));
    }


    h3 {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1440 - 320)));
    }


    .h4,
    h4 {
        font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1440 - 320)));
    }
}

@media screen and (max-width:391px) {


    h1 {
        font-size: 28px;
    }


    h2 {
        font-size: 24px;
    }


    h3 {
        font-size: 14px;
    }

    .h4,
    h4 {
        font-size: 18px;
    }
}

/*-------------buttons-------------*/
.button__primary {
    background: var(--color-primary);
    box-shadow: var(--box-shadow);
    border-radius: 24px;
    padding: 12px 50px;
    font-weight: 700;
    color: #fff;
    transition: all 0.5s ease 0s;
}

.button__primary:hover {
    background-color: var(--color-yellow);
    color: var(--color-primary);
    box-shadow: var(--box-shadow-hover);
}


.button__border {
    cursor: pointer;
    border: 1px solid var(--color-primary);
    border-radius: 24px;
    padding: 12px 50px;
    color: var(--color-primary);
    transition: all 0.5s ease 0s;
    font-weight: 700;
}


.button__border:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.button__arrow svg {
    color: var(--color-primary);
    margin: 0px 0px 0px 16px;
    display: flex;
    align-items: center;
}

.button__arrow:hover {
    text-decoration: underline;
    color: var(--color-yellow);
    transition: all 0.5s ease 0s;
}

@media(max-width:480px) {
    .button__primary {
        padding: 10px 35px;
    }

    .button__border {
        padding: 10px 35px;
    }
}

/*---------header-block------------------*/
.header-block {
    text-align: center;
    align-items: center;
    position: relative;


}

.header-block_title:not(:last-child) {
    margin: 20px 0px 20px 0px;
}

.header-block_subtitle {
    color: var(--color-primary);
    margin: 0px 0px 20px 0px;
    padding-top: 30px;
    position: relative;
}

.ball1 {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 100;
    display: block;
    background: black;
    background: radial-gradient(circle at 100px 100px, var(--color-yellow), #000);
    display: flex;
    align-items: center;
    justify-content: center;

}



.ball2 {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    background: radial-gradient(circle at 100px 100px, var(--color-primary), #000);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ball1,
.ball2 {
    color: white;
}



@media(max-width:767px) {

    .ball1,
    .ball2 {
        left: calc(50% - 40px);
        height: 80px;
        width: 80px;
    }

    .ball1 {
        background: radial-gradient(circle at 60px 40px, var(--color-yellow), #000);
    }


    .ball2 {
        background: radial-gradient(circle at 60px 40px, var(--color-primary), #000);
    }

}

@media(max-width:480px) {
    .header-block_subtitle {
        margin: 0px 0px 10px 0px;
    }

    .header-block_title:not(:last-child) {
        margin: 10px 0px 10px 0px;
    }
}

.up_scroll_btn__wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    display: none;
}

.up_scroll_btn {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e900;
    background-image: linear-gradient(180deg, #e3e900 0%, var(--color-primary) 100%);
    color: white;
    transition: .5s;

}

body.dark .up_scroll_btn {
    background-color: red;
    background-image: linear-gradient(180deg, red 0%, var(--color-primary) 100%);
}


.up_scroll_btn:hover {

    box-shadow: rgba(0, 157, 255, 0.4) -5px 5px, rgba(0, 157, 255, 0.3) -10px 10px, rgba(0, 157, 255, 0.2) -15px 15px, rgba(0, 157, 255, 0.1) -20px 20px;
}

/*---------perekluchatel' na dark temu--------------*/


body.dark .header-block_text,
body.dark .header-block_title,
body.dark .main-block__text,
body.dark .main-block__title,
body.dark .header_title,
body.dark .our-services__text,
body.dark .our-services__list,
body.dark .first-text,
body.dark .second-text,
body.dark .menu__link,
body.dark .portfolio__description-items {
    color: #fff;
}

body.dark body.dark .item-review {
    background-color: #0B0F15;
    color: white;
}

body.dark .header-block_subtitle,
body.dark .button__arrow,
body.dark .header__contact-mob .contact-mob_tel a,
body.dark .header__contact-mob .contact-mob_mail a,
body.dark .item-review .item-review_top__text,
body.dark .item-review__text,
body.dark .item-review_top__title {
    color: white;
}

body.dark .swiper-pagination {
    display: none;
}

body.dark .item-review {
    background-color: #0B0F15;
}

body.dark .item-review:hover {
    box-shadow: 1px 0 30px 2px #43434370;
}

body.dark .button__arrow img {
    filter: brightness(10);
}

body.dark .offer-items {
    background-color: #0B0F15;
    border: 1px solid #625f5f;
    color: white;
}

body.dark .header-block_subtitle {
    color: white;
}

body.dark .yellow-bouble {
    background-color: red;
}

body.dark .tablet-show svg {
    filter: brightness(10);
}

body.dark .portfolio__btn-close div {
    background-color: #E2E2E2;
}

body.dark .header {
    background-color: #000000;
}

body.dark .header-mob__container {
    background-color: #1D1D1D;
}

body.dark .menu__icon svg path {
    stroke: var(--color-primary);
}

body.dark .menu__link-mob {
    color: #fff;
}

body.dark {
    background: #1D1D1D;
}

body.dark .button__primary {
    color: #0D0D0D;
    border: 1px solid;
    background-color: white;

}

body.dark .button__border {
    color: white;
    border: 1px solid white;

}

body.dark .header_text.p {
    color: #E2E2E2;

}

.switch__wrapper {
    position: fixed;
    width: 100px;
    height: 50px;
    z-index: 89;
    bottom: 20px;
    left: 20px;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

body.dark .switch__wrapper {
    background-color: #222222;
}

.switch {
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
    padding: 0 10px;

}

.icons_wrapper {
    width: 100px;
    display: flex;
    position: absolute;
    top: 24%;
    left: 0%;
    justify-content: center;


}

.slider::before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 20px;
    left: 6px;
    top: 10px;
    transform: translateY(-50%);
    transition: 0.4s;
    background-color: var(--color-primary);
}

input:checked+.slider::before {
    left: calc(100% - 45%);
}

body.dark .icon__moon {
    filter: brightness(10);
    z-index: 90;
}

.icon__moon,
.icon__sun {
    position: absolute;
    cursor: pointer;
}


.icon__sun {
    z-index: 90;
    left: 14px;

}

.icon__moon {
    right: 11px;
}

@media screen and (max-width:480px) {
    .switch__wrapper {
        bottom: 10px;
        left: 10px;
    }

}



/*---------------slider---------------*/
.swiper-default__main {
    cursor: grab;
}

.swiper {
    position: relative;
    display: block;
    padding-bottom: 50px;
}

.swiper-wrapper {
    display: flex;
    overflow: visible;
    height: 100%;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    max-width: 100%;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    color: var(--color-yellow);
}

.swiper-pagination-style1 {
    position: absolute;
    top: 90% !important;
    left: 47% !important;
    z-index: 20;
    width: auto !important;
    display: flex;
    align-items: center;
}

/* .swiper-pagination-style1 .swiper-pagination-bullet {
    width:100% !important;
} */

.swiper-pagination_rewiews {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
    background-color: black;
}

body.dark .swiper-pagination-bullet-active {
    background-color: white;
}

body.dark .swiper-pagination-bullet {
    background-color: rgb(215, 215, 215);
}


.swiper-pagination-default {
    display: flex;
    justify-content: center;
}

.swiper-pagination-default .swiper-pagination {
    position: static;
    width: 20px;
    height: 20px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-default .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: var(--color-primary);
    opacity: 1;
    box-shadow: #000000;
    border: 5px solid #fff;
    box-sizing: content-box;
}

body.dark .swiper-pagination-default .swiper-pagination-bullet {
    border: 5px solid #1D1D1D;
}

.swiper-pagination-default .swiper-pagination-bullet:not(:last-child) {
    margin: 0px 30px 0px 0px !important;
}

.swiper-pagination-default .swiper-pagination-bullet-active {
    outline: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body.dark .swiper-pagination-default .swiper-pagination-bullet-active {
    border: 4px solid #1D1D1D;
    outline: 1px solid white;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.item-portfolio__background {
    margin-top: 25px;

}

.item-portfolio__background img {
    border-radius: 30px;
    filter: brightness(0.6);
}

.swiper-slide-active .background__text {
    cursor: pointer;
}

.swiper-default .swiper-slide-active img {
    transition: .6s;
    transform: scale(1.1);
    filter: brightness(0.8);
}

/*----------------burger menu---------------------*/


@media screen and (max-width:799px) {
    .tablet-hide {
        display: none !important;
    }

    .tablet-show {
        display: block !important;
    }
}

/*--------------mobile menu-------------------*/
.header-mob__container {}

._container2 {
    padding: 15px;
    margin: 0 auto;
    position: fixed;
    background: white;
    width: 100%;
    height: 100vh;
    z-index: 90;
    right: 0;
    transition: all 0.4s;
    transform: translateX(100%);
}

.header-mob__container.active {
    transform: translateX(0);
}

.header__main-mob {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.header__menu-mob {
    margin-bottom: 42px;
}

.menu__list-mob {}

.menu__item-mob:not(:last-child) {
    margin-bottom: 30px;
}

.menu__link-mob {
    color: black;
}

.button__header-mob {
    margin-bottom: 46px;
}

.header__contact-mob {
    color: inherit;
}

.header__contact-mob .contact-mob_tel a,
.header__contact-mob .contact-mob_mail a {
    color: black;
}

.contact-mob_tel {
    margin-bottom: 14px;
    color: black;
}

.contact-mob_mail {
    color: black;
    margin-bottom: 14px;
}

.items__icons-mob {
    padding: 10px 30px 22px 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.social__item-mob:not(:last-child) {
    margin-right: 25px;
}

/*------------------------------------------------*/
body {
    position: relative;
    -webkit-transition: 200ms, ease;
    -moz-transition: 200ms, ease;
    -ms-transition: 200ms, ease;
    -o-transition: 200ms, ease;
    transition: 200ms, ease;
    transition: 200ms, ease;

}

.wrapper {
    position: relative;
}

._container {
    max-width: 1240px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
    position: relative;
}

img {
    max-width: 100%;
}

@media(max-width:480px) {
    ._container {
        max-width: 100%;
        padding: 0px 15px;
    }
}

@media(max-width:1180px) {
    ._container {
        padding: 0px 20px;
    }
}

.our-services__info._active {
    display: block;
}

/*-------------header---------------*/
.header {
    position: sticky;
    top: 0;
    z-index: 80;
    background-color: #fff;
    transition: all 0.7s;
}

.header.sticky {
    box-shadow: 1px 0 30px 2px #377dff70;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 150px;
    justify-content: space-between;
}

.menu__icon.active svg path:nth-child(1) {
    display: none;
}

.menu__icon.active svg path:nth-child(2) {
    transform: rotate(45deg) translateX(0px) translateY(-10px);
    margin: 3px;
}

.menu__icon.active svg path:nth-child(3) {
    transform: rotate(-45deg) translateX(-10px) translateY(-4px);
    margin: -3px;
}



.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    color: inherit;

}

.menu__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
}

.men-block__button {
    display: flex;
}

.menu-block__button {
    white-space: nowrap;
}

.menu__link {
    color: black;
    position: relative;
    text-decoration: none;
}

.menu__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-yellow);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
}

.menu__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.menu__link:hover {
    color: var(--color-primary);
}

.menu__link._active {
    font-weight: 700;
}

@media(max-width:767px) {
    .header__container {
        min-height: 70px;
        margin: 0px 0px 0px 0px;
    }

    .header__logo img {
        max-width: 91px;
    }
}

@media(min-width:799px) {
    .menu__icon {
        display: none;
    }
}

/*-----------page-----------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {}

.page__our-team {}

.page__our-services {}

.page__portfolio {}

.page__reviews {}

.page__collaboration {}

/*------------main----------------*/
.main-block {}

.main-block__container {}

.main-block__body {}

.main-block__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 24px 0px;
}

.main-block__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.main-block__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 99px 0px;
}

.main-block__image {
    margin: 0 auto;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-block__great-project {
    white-space: nowrap;
    position: absolute;
    top: 24px;
    left: -107px;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.great-project {
    display: flex;
    margin: 17px 32px 10px 20px;
    text-align: center;
    align-items: center;
}

.great-project__star {
    margin: 0px 5px 0px 0px;
}

.great-project__title {
    font-size: 12px;
    line-height: 125%;
    color: var(--color-black);
}

.great-project__text {
    margin: 0px 31px 16px 20px;
}

.main-block__resume {
    position: absolute;
    bottom: -7px;
    right: -107px;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.resume-top {
    display: flex;
}

.resume-top__image {
    margin: 27px 10px 12px 21px;
}

.resume-top__info {
    margin: 31px 52px 17px 0px;
    justify-content: center;
}

.resume-top__title {
    font-weight: 600;
    font-size: 10px;
    line-height: 125%;
    margin: 0px 0px 2px 0px;
}

.resume-top__text {
    font-size: 6px;
    font-weight: 600;
    line-height: 125%;
    color: #1D1D1D;
}

.resume__text {
    max-width: 125px;
    margin: 0px 20px 25px 21px;
    text-align: start;
}

@media(max-width:767px) {
    .main-block__title {
        margin: 0px 0px 20px 0px;
    }

    .main-block__text {
        margin: 0px 0px 20px 0px;
    }

    .main-block__buttons {
        margin: 0px 0px 60px 0px;
    }

    .main-block__image {
        width: 90%;
    }

    .main-block__great-project {
        top: -15px;
        left: -9px;
        z-index: 2;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    .great-project {
        margin: 9.33px 19px 9px 14.33px;
    }

    .great-project__title {
        font-size: 8px;
        line-height: 125%;
    }

    .great-project__text {
        margin: 0px 21px 9px 16px;
        font-size: 12px;
    }

    .great-project__star img {
        width: 14px;
    }

    .main-block__resume {
        bottom: 10px;
        right: -4px;

    }

    .resume-top__image {
        margin: 13px 5px 6px 10.5px;
    }

    .resume-top__image img {
        width: 15.5px;
    }

    .resume-top__info {
        text-align: start;
        margin: 15px 24px 8px 0px;
    }

    .resume-top__title {
        font-size: 9px;
        margin: 0px 0px 1px 0px;
    }

    .resume-top__text {
        font-size: 6px;
    }

    .resume__text {
        margin: 0px 10px 11px 10px;
        text-align: start;
        font-size: 9px;
    }
}

/*--------our-team---------------*/
.our-team {}

.our-team__container {}

.our-team__header {
    margin: 0px 0px 38px 0px;
    padding-top: 140px;
}

.our-team__body {}

.our-team__column {
    display: flex;
    width: 100%;
}

.our-team__video {
    display: flex;
    width: 50%;
    position: relative;
}

.our-team__video img {
    width: 100%;
}

.our-team__items {
    width: 50%;
}

.items-column {
    margin: 63px 0px 0px 20px;
}

.items-column__text {
    margin: 0px 0px 62px 0px;
}

.first-text:not(:last-child) {
    margin: 0px 0px 24px 0px;
}

.first-text {
    color: var(--color-body);
}

.Upwork {
    color: #00B812;
}

.second-text {
    color: var(--color-body);
}

.item-column__buttons {
    display: flex;
}

.item-column__buttons {}

.button__primary:not(:last-child) {
    margin: 0px 10px 0px 0px;
}

@media (max-width:1150px) {
    .our-team__video {
        margin-right: 15px;
    }
}

@media(max-width:830px) {
    .our-team__column {
        flex-direction: column-reverse;
    }

    .our-team__items {
        width: 100%;
    }

    .our-team__video {
        width: 100%;
        margin-top: 15px;
    }
}

@media (max-width:767px) {
    .our-team__header {
        padding-top: 60px;
        margin-bottom: 0;
    }
}

@media(max-width:480px) {

    .items-column {
        margin: 20px 0px 0px 0px;
    }

    .items-column__text {
        margin: 0px 0px 30px 0px;
    }

    .first-text .Upwork .second-text {
        font-size: 14px;
    }

    .item-column__buttons {
        margin: 0px 0px 20px 0px;
        justify-content: center;
    }
}

/* ---------------------- nubmers block ------------------ */
.number__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 290px 0 0 0;
    position: relative;
}

.number__list__header {
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translate(-50%);

}

.number__list__header.header-block_subtitle {
    top: 130px;
}

.number__list__element {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.number__list__element h3 {
    margin-bottom: 20px;
    font-size: 35px;
}

.number__list__element p {
    font-size: 25px;
}

.number_icon {
    position: absolute;
    color: var(--color-primary);
    left: 50%;
    transform: translate(-50%);
    font-size: 90px !important;
    text-align: center;
    opacity: 0.2;
    z-index: 0;
}

body.dark .number__list__header,
body.dark .number__list__element h3,
body.dark .number__list__element p {
    color: white;

}

body.dark .number_icon {
    color: var(--color-yellow);
}

@media (max-width:767px) {
    .number__list {
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    .number__list__element h3 {
        font-size: 30px;
    }

    .number__list__element p {
        font-size: 20px;
    }

    .number_icon {
        font-size: 70px !important;
    }

    .number__list {
        padding: 170px 0 0 0;
    }

    .number__list__header {
        top: 90px;
    }

    .number__list__header.header-block_subtitle {
        top: 50px;
    }
}


/*---------our services-------------*/
.our-services {}

.our-services__container {
    padding-top: 150px;
}

.our-services__text-column {
    display: flex;
    position: relative;
}

.our-services__header {
    text-align: left;
    margin: 0;
}

.our-services__info {
    margin: 0px 168px 0px 0px;
    width: 43.34%;
    opacity: 0;
    transition: all 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-150%);
}

.our-services__info._active {
    opacity: 1;
    transform: translateX(0);
    z-index: 10;
}

.our-services__text {}

.our-services__list {
    margin: 0px 0px 40px 25px;
}

.our-services__item {
    list-style: circle;
}

.our-services__button {}

.button__arrow {
    color: var(--color-primary);
    cursor: pointer;
}

.our-services__offers {
    display: grid;
    column-gap: 40px;
    row-gap: 38px;
    grid-template-columns: 1fr 1fr;
    width: 47.1%;
    margin-left: auto;
}

.offer-items {
    color: #1D1D1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-height: 269px;
    padding: 35px 12px;
    cursor: pointer;
}

.offer-items._active {
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.offer__wrap {
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0px 32px 0px;
}

.blue-wrap {
    background-color: var(--color-primary);
}

.red-wrap {
    background-color: red;
}

.wrap-green {
    background-color: green;
}

.wrap-yellow {
    background-color: var(--color-yellow);
}

.offer_text {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(max-width:1280px) {
    .our-services__text-column {
        flex-wrap: wrap;
    }
}

@media(max-width:1220px) {
    .our-services__offers {
        column-gap: 15px;
        row-gap: 15px;
    }

    .our-services__header {}


    .offer_image {
        margin: 35px 60px 27px 60px;
    }

    .our-services__text-column {
        display: flex;
    }

    .our-services__text {
        font-size: 17px;
        line-height: 125%;
    }
}





@media(max-width:767px) {
    .our-services__container {
        padding-top: 50px;
    }

    .our-services__header {
        margin: 0px 0px 20px 0px;
    }

    .our-services__text-column {
        flex-direction: column;
        gap: 20px;
    }

    .our-services__info {
        margin: 0;
        width: 100%;
        position: static;
        display: none;
    }

    .our-services__offers {
        margin-top: 20px;
        column-gap: 15px;
        row-gap: 15px;
        width: 100%;
    }

    .offer_image {
        margin: 35px 81px 27px 81px;
    }
}

@media(max-width:480px) {
    .our-services__offers {
        row-gap: 35px;
    }

    .offer__wrap {
        width: 60px;
        height: 60px;
    }

    .offer-items {
        padding: 15px 5px;
        width: 90%;
        margin: auto;
        height: 160px;
    }

    .our-services__offers {
        column-gap: 0;
        row-gap: 10px;
    }

    .offer_text {
        font-size: 13px;
    }

    .our-services__offers {
        margin-top: 30px;
    }


}

/*-----------portfolio--------------*/
.portfolio {}

.portfolio__container {}

.portfolio__header {
    margin: 0px 0px 73px 0px;
    padding-top: 140px;
}

.header-block_text {
    margin: 8px 0px 0px 0px;
}

.portfolio__items {
    display: flex;
    flex-wrap: wrap;
}

.item-portfolio_active {}

.portfolio__item:not(:last-child) {}

.item-portfolio {
    position: relative;
}

.item-portfolio__background {
    position: relative;
}

.item-portfolio__background img {
    cursor: pointer;
}

.background__text {
    position: absolute;
    bottom: 53px;
    left: 30px;
    color: #fff;
}

.portfolio__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}





@media(max-width:1023px) {
    .background__text {
        position: absolute;
        bottom: 43px;
        left: 50%;
        color: #fff;
        transform: translateX(-50%);
    }

    .portfolio__description-info {
        width: 100% !important;
    }
}
@media(max-width:767px) {
    .portfolio__header{
        padding-top: 50px;
    }
}


@media(max-width:480px) {
    .portfolio__header {
        margin: 0;
        padding-top: 50px;
    }

    .item-portfolio {
        justify-content: center;
        align-items: center;
    }

    .item-portfolio:not(:last-child) {
        margin: 0 auto;
    }

    .item-portfolio:last-child {
        margin: 0 auto;
    }

    .item-portfolio__background {
        margin: 20px;
    }

    .portfolio__button {
        margin-top: 10px;
    }
}

.portfolio__description-wraper {
    padding-top: 50px;
}

.portfolio__description-wraper._hidden {
    display: none;
}

.portfolio__btn-close {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 30px;
    margin-bottom: 30px;
}


.portfolio__btn-close:hover .close-line1 {
    transform: rotate(0deg);
}

.portfolio__btn-close:hover .close-line2 {
    transform: rotate(0deg);
}

.close-line1 {
    transform: rotate(-45deg);
    width: 60px;
    height: 2px;
    background: #333;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
}

.close-line2 {
    transform: rotate(45deg);
    width: 60px;
    height: 2px;
    background: #333;
    position: absolute;
    border-radius: 10px;
    transition: all 1s;
}

.portfolio__description-items {
    display: flex;
    justify-content: space-between;
}

.swiper-style1 {
    width: 100%;
}

.portfolio__description-image {
    width: 100%;

}

.portfolio__description-image img {
    cursor: grab;
    border-radius: 7px;
}

.portfolio__description-info {
    width: 50%;
    padding: 0px 30px;
}

.portfolio__description-title {
    padding: 10px 0px;
}

.hiden__portfolio-subtitle {
    padding: 10px 0px;
}

.portfolio__description-text {
    white-space: break-spaces;
    margin: 10px 0px;
}

@media screen and (max-width:1200px) {

    .portfolio__description-items {
        flex-direction: column;
        align-items: center
    }

    .portfolio__description-items div.swiper {
        padding: 0;
    }

    body.dark .swiper-pagination-style1 {
        background-color: var(--color-body);
        height: 25px;
        border-radius: 3px;
    }

    .swiper-pagination-style1 .swiper-pagination-bullet {
        align-items: center;
        display: flex;

        border-radius: 3px;
    }
}

/*------------reviews-------------*/
.reviews {}

.reviews__container {}

.reviews__header {
    margin: 0 0px 50px 0px;
    padding-top: 150px;
}

.review__items {}

.item-review {
    background: #fffcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: grab;
    border-radius: 20px;
    min-height: 443px;
}

.item-review:not(:last-child) {
    margin: 0px 50px 0px 0px;
}

.item-review_top {
    display: flex;
    align-items: center;
    justify-content: center;

}

.item-review_top__image {
    height: 70px;
    width: 70px;
    margin: 35.25px 15px 14px 26px;

}

.item-review_top__image img {
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    border: 1px solid rgb(233, 231, 231);
}

.item-review_top__info {
    margin: 55px 48px 31.25px 0px;
    justify-content: center;
}

.item-review_top__title {
    color: var(--color-primary);
}

.item-review_top__text {
    color: #464646;
    opacity: 50%;
    font-size: 11px;
    line-height: 125%;
}

.item-review__text {
    margin: 0 auto;
    padding: 10px 15px 20px 15px;
    text-align: start;
    max-width: 309px;
    letter-spacing: 0.01em;
    color: #464646;
    opacity: 80%;
    line-height: 155%;
}

.item-review__text a {
    text-decoration: none;
    color: var(--color-primary);
}

body.dark .item-review__text a {
    text-decoration: none;
    color: var(--color-yellow);
}

@media(max-width:767x) {
    .reviews__header {
        margin: 0px;
        padding-top: 50px;
    }

}
@media(max-width:480px) {
    .reviews__header {
        margin: 0px;
        padding-top: 50px;
    }

}

/*---------collaboration---------------*/
.section--for__link {
    position: relative;
}

.collaboration {}

.collaboration__container {
    display: flex;
}

.collaboration_left {}

.collaboration__header {
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: start;
    max-width: 490px;
    margin: 284px 162px 25px 0px;
}

.header_text {
    margin: 25px 0px 0px 0px;
    color: #464646;
}

.collaboration__button {
    margin: 0px 0px 178px 0px;
}

.collaboration_right {}

.collaboration__images {
    display: flex;
}

.image_collaboration-1 {
    margin: 338px -32px 193px 0px;
    z-index: 2;
}

.image_collaboration-2 {
    margin: 247px 0px 284px 0px;
    z-index: 1;
}

@media(max-width:767px) {
    .collaboration__container {
        flex-direction: column;
    }

    .collaboration__header {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin: auto;
    }

    .collaboration__button {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin: 25px 0px;
    }

    .image_collaboration-1 {
        margin: 158px -32px 63px 0px;
        z-index: 2;
    }

    .image_collaboration-2 {
        margin: 67px 0px 154px 0px;
        z-index: 1;
    }
}

/*-----------------podval-----------------*/
.footer {
    background-color: var(--color-primary);
}

.footer__top {
    color: #fff;
}

.footer__main {
    display: flex;
    padding-top: 135px;
    justify-content: center;
}

.footer__logo {}

.footer__logo-link {}

.footer__row {
    display: flex;
    width: 90%;
    margin-left: 10%;
    justify-content: space-between;
}

.footer__column:not(:last-child) {
    margin: 0px 70px 0px 0px;
}

.footer__label {
    margin: 0px 0px 20px 0px;
}

.footer__menu {}

.menu-footer {}

.menu-footer__list {}

.menu-footer__item:not(:last-child) {
    margin: 0px 0px 15px 0px;
}

.menu-footer__link {
    color: inherit;
}

.footer__bottom {
    margin: 130px 0px 0px 0px;
}

.footer__container {
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 3%;

}

.footer__social a {
    margin: 0;
}

.social {}

@media(max-width: 767px) {
    .footer__social {
        gap: 10%;
    }

}



.footer__bottom-text {
    color: #fff;
    padding: 40px 0px;
}

@media(max-width: 1180px) {
    .footer__logo {
        margin: 0px 70px 0px 50px;
    }

    .footer__main {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .footer__column:not(:last-child) {
        margin: 0px 40px 0px 0px;
    }
}

@media(max-width: 980px) {
    .footer__logo {
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px) {
    .footer__main {
        margin: 20px 0px 0px 0px;
        flex-direction: column;
        padding-top: 30px;
    }

    .footer__logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer__row {
        flex-wrap: wrap;
    }

    .footer__column:not(:last-child) {
        margin: 0px 90px 40px 0px;
    }

    .footer__bottom {
        margin: 50px 0px 0px 0px;
    }
}

@media screen and (max-width:800px) {
    .item-review {
        min-height: 335px;
    }


}

/*-----------------------BubelsBackground------------------------*/
.blue-bouble {
    background: var(--color-primary)
}

.yellow-bouble {
    background: var(--color-yellow)
}


.bouble {
    position: absolute;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    z-index: 1;
    opacity: 30%;
}

.blue__bouble1 {
    top: 18%;
    left: 9%;
    animation: bouble-bottom 25s linear infinite alternate;
}

.blue__bouble2 {
    top: 36%;
    right: 15%;
    animation: bouble-left 10s linear infinite alternate;
}

.blue__bouble3 {
    top: 50%;
    left: 69%;
    animation: bouble-top 20s linear infinite alternate;
}

.blue__bouble4 {
    top: 48%;
    right: 40%;
    animation: bouble-left 10s linear infinite alternate;
}

.blue__bouble5 {
    top: 75%;
    left: 20%;
    animation: bouble-left 10s linear infinite alternate;
}

.yellow__bouble1 {
    bottom: 18%;
    right: 9%;
    animation: bouble-top 24s linear infinite alternate;
}

.yellow__bouble2 {
    bottom: 36%;
    left: 15%;
    animation: bouble-bottom 26s linear infinite alternate;
}

.yellow__bouble3 {
    bottom: 54%;
    right: 20%;
    animation: bouble-bottom 20s linear infinite alternate;
}

.yellow__bouble4 {
    bottom: 66%;
    left: 22%;
    animation: bouble-left 12s linear infinite alternate;
}

.yellow__bouble5 {
    bottom: 90%;
    right: 20%;
    animation: bouble-left 12s linear infinite alternate;
}

@keyframes bouble-left {
    0% {
        left: 0;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        left: 90%;
    }
}

@keyframes bouble-rigth {
    0% {
        right: 0%;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        right: 90%;
    }
}

@keyframes bouble-top {
    0% {
        top: 0%;
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        top: 90%;
    }
}

@keyframes bouble-bottom {
    0% {
        top: 0%;
    }

    50% {

        transform: rotate(360deg);
    }

    100% {
        top: 90%;
    }
}

/* -------------------- pop_up ---------------------- */

.pop_up {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(29, 29, 28, 0.763);
}

body.dark .pop_up {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.407);
}

.pop_up div {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.pop_up div h3 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}

.pop_up div li {
    margin-bottom: 30px;
    font-size: 17px;
    text-align: left;
}

body.dark .pop_up div {
    background-color: #191b19;
    color: #e9e2e2;
}

@media (max-width:767px) {
    .pop_up div {
        width: 85%;
    }

    .pop_up div h3 {
        font-size: 20px;
    }

    .pop_up div li {
        font-size: 13px;
    }

    .pop_up div {
        padding: 10px;
    }
}

/* -------------   animated dot blocks    --------------- */

.animated__dot__block1,
.animated__dot__block2,
.animated__dot__block3,
.animated__dot__block4,
.animated__dot__block5,
.animated__dot__block6,
.animated__dot__block7,
.animated__dot__block8,
.animated__dot__block9,
.animated__dot__block10 {
    width: auto;
    display: grid;
    grid-template-columns: 9px 9px 9px 9px 9px 9px;
    gap: 15px;
    position: absolute;
    opacity: 0.9;

}



.animated__dot__block1 {
    left: 5%;
    top: 643px;
    transform: rotate(30deg);
}

.animated__dot__block2 {
    right: 15%;
    top: 252px;
    transform: rotate(-30deg);
}

.animated__dot__block3 {
    top: 64%;
    right: 12%;
}

.animated__dot__block4 {
    left: 51%;
    top: 36%;
}

.animated__dot__block5 {
    left: 2%;
    transform: rotate(30deg);
    top: 89%;
}

.animated__dot__block6 {
    left: 78%;
    top: 19%;
    transform: rotate(-30deg);

}

.animated__dot__block7 {
    top: -15px;
    right: -17px;
    z-index: 0;
}

.animated__dot__block8 {
    left: -15px;
    bottom: -17px;
    z-index: 0;
}

.animated__dot__block9 {
    top: -15px;
    right: -17px;
    z-index: 0;
}

.animated__dot__block10 {
    left: -16px;
    bottom: 32px;
    z-index: 0;
}



.animated__dot__block1 div,
.animated__dot__block5 div,
.animated__dot__block7 div,
.animated__dot__block9 div,
.animated__dot__block3 div {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: radial-gradient(circle at 2px 3px, var(--color-primary), #000);

}

.animated__dot__block2 div,
.animated__dot__block6 div,
.animated__dot__block8 div,
.animated__dot__block10 div,
.animated__dot__block4 div {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: radial-gradient(circle at 2px 3px, var(--color-yellow), #000);
}

@media screen and (max-width:767px) {

    .animated__dot__block3 {
        top: 76%;
        right: 19%;
    }

    .animated__dot__block4 {
        left: 21%;
        top: 42%;
    }

    .animated__dot__block6 {
        left: 57%;
    }

    .animated__dot__block5 {
        top: 71%;
    }

}